@keyframes scroll-arrow {
    from {top: 0px;}
    50% {top: 10px;}
    to {top: 0px;}
}

.hero {
    height: 100vh;
    background-image: url(assets/hero-valorant-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.hero-heading-divided-text {
    font-size: 0px;
}

.hero-text-container {
    height: 90vh;
}

.hero-heading-divided-image-container {
    padding-top: 90px;
}

.hero-championship-text {
    letter-spacing: 2px;
    text-shadow: 2px 2px #ff232385;
}

.scroll-info-text {
    padding-top: 120px; 
    text-shadow: 2px 2px #ff232385;
}

.scroll-arrow {
    height: 14px;
    margin-bottom: 20px;
    background: url(assets/scroll-arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 0px #ff232385);
    animation: scroll-arrow 1s infinite;
}

.thumbnail-element-container {
    height: 300px;
}

.thumbnail-element-heading-text {
    color: var(--pri-color);
}

.thumbnail-element-img {
    position: absolute;
    visibility: hidden;
    height: 0px;
}

.thumbnail-element-body-text{
    color: var(--ter-color);
}

.thumbnail-element-left-containter {
    background-color: var(--pri-color);
}

.thumbnail-element-left-heading-text {
    color: var(--sec-color);
}


@media screen and (max-height: 576px) {
    .hero {
        height: 600px;
    }
    
    .hero-text-container {
        height: 530px;
    }
    
    .scroll-info-text {
        padding-top: 80px; 
    }
    
    .hero-divided-text {
        padding-top: 120px; 
    }
}

@media screen and (min-width: 576px) {
    
}


@media screen and (min-width: 768px) {
    .hero {
        background-image: url(assets/hero-valorant-desktop.png);
    }

    .thumbnail-element-container {
        height: 450px;
    }

    .thumbnail-element-img {
        position: relative;
        visibility: visible;
        height: 400px;
    }
}


@media screen and (min-width: 992px) {
    .hero-heading-divided-image-container {
        padding-top: 0px;
    }
    
    .hero-championship-text {
        top: -7%;
    }

    .scroll-info-text {
        padding-top: 60px; 
    }
}


@media screen and (min-width: 1200px) {
    
}


@media screen and (min-width: 1400px) {
    
}

